@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: poppins-light;
  src: url('/fonts/poppins/Poppins-Light.ttf') ;
}


*{
  font-family: poppins-light;
}

:root {
  --primaryColor:#007ef5 ;
  --secondaryColor:#0165c4;
  --tertiaryColor:#1C6EA4;
  --dangerColor:#ff0000;
  --primaryBg:#f3f4f6;
  --secondaryBg:#dddddd;
  --greenButtonBg:#57d57d;
  --lightDangerBg:#ff03035b;
  --lightSuccessBg:#50f04b4f;
  --lightShadow: 0px 4px 25px 0px #0000000f;
  --darkShadow: 0px 4px 25px 0px #0000000f;
  --lightBlue: #C6E6FB;
  --textColorB1: #2C5B8C;
  --textColorO1: #ee842e;
  

  /* shadcn variables */
  --radius:0.625rem;
  --background:oklch(1 0 0);
  --foreground:oklch(0.145 0 0);
  --card:oklch(1 0 0);
  --card-foreground:oklch(0.145 0 0);
  --popover:oklch(1 0 0);
  --popover-foreground:oklch(0.145 0 0);
  --primary:oklch(0.205 0 0);
  --primary-foreground:oklch(0.985 0 0);
  --secondary:oklch(0.97 0 0);
  --secondary-foreground:oklch(0.205 0 0);
  --muted:oklch(0.97 0 0);
  --muted-foreground:oklch(0.556 0 0);
  --accent:oklch(0.97 0 0);
  --accent-foreground:oklch(0.205 0 0);
  --destructive:oklch(0.577 0.245 27.325);
  --border:oklch(0.922 0 0);
  --input:oklch(0.922 0 0);
  --ring:oklch(0.708 0 0);
  --chart-1:oklch(0.646 0.222 41.116);
  --chart-2:oklch(0.6 0.118 184.704);
  --chart-3:oklch(0.398 0.07 227.392);
  --chart-4:oklch(0.828 0.189 84.429);
  --chart-5:oklch(0.769 0.188 70.08);
  --sidebar:hsl(0 0% 98%);
  --sidebar-foreground:hsl(240 5.3% 26.1%);
  --sidebar-primary:hsl(240 5.9% 10%);
  --sidebar-primary-foreground:hsl(0 0% 98%);
  --sidebar-accent:hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground:hsl(240 5.9% 10%);
  --sidebar-border:hsl(220 13% 91%);
  --sidebar-ring:hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-primaryColor:var(--primaryColor) ;
  --color-secondaryColor:var(--secondaryColor) ;
  --color-dangerColor:var(--dangerColor) ;
  --color-primaryBg: var(--primaryBg);
  --color-greenButtonBg: var(--greenButtonBg);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightBorder: rgb(209, 213, 219);
  --color-lightBlue: var(--lightBlue);
  --text-h3: 20px;
  --text-h4: 16px;


  /* shadcn variables */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring:var(--sidebar-ring);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar:var(--sidebar);
  --color-chart-5:var(--chart-5);
  --color-chart-4:var(--chart-4);
  --color-chart-3:var(--chart-3);
  --color-chart-2:var(--chart-2);
  --color-chart-1:var(--chart-1);
  --color-ring:var(--ring);
  --color-input:var(--input);
  --color-border:var(--border);
  --color-destructive:var(--destructive);
  --color-accent-foreground:var(--accent-foreground);
  --color-accent:var(--accent);
  --color-muted-foreground:var(--muted-foreground);
  --color-muted:var(--muted);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-secondary:var(--secondary);
  --color-primary-foreground:var(--primary-foreground);
  --color-primary:var(--primary);
  --color-popover-foreground:var(--popover-foreground);
  --color-popover:var(--popover);
  --color-card-foreground:var(--card-foreground);
  --color-card:var(--card);
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
}



/* ================ shadcn class ================= */
.dark {
  --background:oklch(0.145 0 0);
  --foreground:oklch(0.985 0 0);
  --card:oklch(0.205 0 0);
  --card-foreground:oklch(0.985 0 0);
  --popover:oklch(0.205 0 0);
  --popover-foreground:oklch(0.985 0 0);
  --primary:oklch(0.922 0 0);
  --primary-foreground:oklch(0.205 0 0);
  --secondary:oklch(0.269 0 0);
  --secondary-foreground:oklch(0.985 0 0);
  --muted:oklch(0.269 0 0);
  --muted-foreground:oklch(0.708 0 0);
  --accent:oklch(0.269 0 0);
  --accent-foreground:oklch(0.985 0 0);
  --destructive:oklch(0.704 0.191 22.216);
  --border:oklch(1 0 0 / 10%);
  --input:oklch(1 0 0 / 15%);
  --ring:oklch(0.556 0 0);
  --chart-1:oklch(0.488 0.243 264.376);
  --chart-2:oklch(0.696 0.17 162.48);
  --chart-3:oklch(0.769 0.188 70.08);
  --chart-4:oklch(0.627 0.265 303.9);
  --chart-5:oklch(0.645 0.246 16.439);
  --sidebar:hsl(240 5.9% 10%);
  --sidebar-foreground:hsl(240 4.8% 95.9%);
  --sidebar-primary:hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground:hsl(0 0% 100%);
  --sidebar-accent:hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground:hsl(240 4.8% 95.9%);
  --sidebar-border:hsl(240 3.7% 15.9%);
  --sidebar-ring:hsl(217.2 91.2% 59.8%);
}
/* ================ shadcn ================= */
@layer base {
  
  .app-sidebar {
    @apply border-border outline-ring/50;
  }
  .app-sidebar {
    @apply bg-background text-foreground;
  }
  .employee-edit-form-label{
    @apply text-sm text-gray-500 mt-3;
  }

  /* ===================== text ==================== */
  .text-p1 {
    @apply text-[14px] text-gray-500 ; 
  }
  .text-h4 {
    @apply text-[16px] text-[var(--textColorB1)] font-bold; 
  }
  .dangerText {
    @apply text-[16px] text-dangerColor; 
  }
  .text-p4 {
    @apply text-[14px] text-[var(--textColorO1)] ; 
  }
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



/* ==================== loaders ==================== */
.dots-loader .loader {
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

